{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block fulltitle %}{% block title %}{% endblock %} | {{ SITE_OPTIONS.site_name }}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{% relative_url_string '/static/styles.css' %}">
{% block extrahead %}{% endblock %}
</head>

<body class="has-sidenav">
<div class="topnav">
    <button id="toggle" class="toggle">
        <svg viewBox="0 0 100 80" width="16" height="16" fill="currentColor">
          <rect width="100" height="20" rx="8"></rect>
          <rect y="30" width="100" height="20" rx="8"></rect>
          <rect y="60" width="100" height="20" rx="8"></rect>
        </svg>
    </button>
    <a class="logo" href="{% relative_url 'homepage' %}">
        <span class="logo-text">{{ SITE_OPTIONS.site_name }}</span>
    </a>
</div>

{% block content_full %}
<div class="content">
    <nav class="sidenav">
        {% make_urls_relative SITE_OPTIONS.sidebar_html %}
    </nav>
    <main>
    {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}

<script type="text/javascript" src="{% relative_url_string '/static/global.js' %}"></script>
{% block finalscript %}{% endblock %}
</body>
</html>
