{% extends "base.html" %}

{% block title %}Data types used in {{ schema.name }}{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    <a href="{% relative_url_string schema.reference_url %}">{{ schema.name }} reference</a> &gt;
    Data types
</p>

<h1>Data types used in {{ schema.name }}</h1>

<ul>
{% for data_type in data_types %}
<li><a href="{% relative_url_string data_type.get_absolute_url %}">{{ data_type.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
