{% extends "base.html" %}

{% block title %}{{ schema.name }} reference{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    {{ schema.name }} reference
</p>

<h1>{{ schema.name }} reference</h1>

<h2>Elements</h2>
<p>
{% for element in featured_elements %}
<a href="{% relative_url_string element.get_absolute_url %}">{{ element.name_with_brackets }}</a> ·
{% endfor %}
<a href="{% relative_url_string schema.element_tree_url %}">See all…</a>
</p>

<h2>Data types</h2>
<p>
{% for data_type in featured_data_types %}
<a href="{% relative_url_string data_type.get_absolute_url %}">{{ data_type.name }}</a> ·
{% endfor %}
<a href="{% relative_url_string schema.data_types_url %}">See all…</a>
</p>

<h2>Examples</h2>
<p>
{% for example in featured_examples %}
<a href="{% relative_url_string example.get_absolute_url %}">{{ example.name }}</a> ·
{% endfor %}
<a href="{% relative_url_string schema.examples_url %}">See all…</a>
</p>
{% endblock %}
