{% extends "base.html" %}

{% block title %}{{ data_type.name }} data type{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    <a href="{% relative_url_string data_type.schema.reference_url %}">{{ data_type.schema.name }} reference</a> &gt;
    <a href="{% relative_url_string data_type.schema.data_types_url %}">Data types</a> &gt;
    {{ data_type.name }}
</p>

<h1>{{ data_type.name }} data type</h1>

{% if data_type.description %}
{{ data_type.description_html|safe }}
{% endif %}

{% if data_type.base_type %}
<p>Base type: <a href="{% relative_url_string data_type.base_type.get_absolute_url %}">{{ data_type.base_type.name }}</a></p>
{% endif %}

{% if data_type.min_value %}
<p>Minimum allowed value: {{ data_type.min_value }}</p>
{% endif %}

{% if data_type.max_value %}
<p>Maximum allowed value: {{ data_type.max_value }}</p>
{% endif %}

{% if data_type.regex %}
<p>Regex pattern: <b>{{ data_type.regex }}</b></p>
{% endif %}

{% if data_type.min_length %}
<p>Minimum length: <b>{{ data_type.min_length }}</b></p>
{% endif %}

{% if options %}
<h2 id="allowed">Allowed values</h2>

<table>
{% for option in options %}
<tr>
    <th class="nobr">{{ option.value }}</th>
    <td>{{ option.description|safe|linebreaksbr }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if elements or element_attributes %}
<h2 id="where">Where is this type used?</h2>

{% for element in elements %}
<p><a href="{% relative_url_string element.get_absolute_url %}">{{ element.name_with_brackets }}</a></p>
{% endfor %}

{% for el_attribute in element_attributes %}
<p><a href="{% relative_url_string el_attribute.element.get_absolute_url %}">{{ el_attribute.element.name_with_brackets }}</a> — "{{ el_attribute.attribute.name }}" attribute</p>
{% endfor %}
{% endif %}

{% endblock %}
