{% extends "base.html" %}

{% block title %}The {{ element.name_with_brackets }} element{{ element.optional_disambiguation }}{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    <a href="{% relative_url_string element.schema.reference_url %}">{{ element.schema.name }} reference</a> &gt;
    <a href="{% relative_url_string element.schema.elements_url %}">Elements</a> &gt;
    {{ element.name }}{{ element.optional_disambiguation }}
</p>

<h1>The {{ element.name_with_brackets }} element{{ element.optional_disambiguation }}</h1>

<p>Parent element{{ parents|pluralize }}:
    {% if parents %}
        {% for parent in parents %}
        <a href="{% relative_url_string parent.get_absolute_url %}">{{ parent.name_with_brackets }}{{ parent.optional_disambiguation }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        None
    {% endif %}
</p>

{% if element.description %}
    {{ element.description|safe|linebreaks }}
{% elif element.base_element and element.base_element.description %}
    {{ element.base_element.description|safe|linebreaks }}
{% endif %}

<h2 id="content">Content</h2>

{% if content_data_type %}
    <p><a href="{% relative_url_string content_data_type.get_absolute_url %}">{{ content_data_type.name }}</a></p>
{% elif child_relationships %}
    {# This is a hacky way of inserting the <p> only in appropriate cases. #}
    {% if child_relationships|length == 1 and not child_relationships.0.is_abstract_element %}
    <p>{% include "includes/element_child_relationships.html" with element=element %}</p>
    {% else %}
    {% include "includes/element_child_relationships.html" with element=element %}
    {% endif %}
{% else %}
    <p>Always empty.</p>
{% endif %}

<h2 id="attributes">Attributes</h2>

{% if attributes %}
<table>
<thead>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Required?</th>
    <th>Description</th>
</tr>
</thead>
{% for attribute in attributes %}
<tr>
    <th class="nobr">{{ attribute.name }}</th>
    <td><a href="{% relative_url_string attribute.data_type.get_absolute_url %}">{{ attribute.data_type.name }}</a></td>
    <td>{{ attribute.is_required|yesno|title }}</td>
    <td>{{ attribute.description|safe|linebreaksbr }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>None.</p>
{% endif %}

{% if concepts %}
<h2 id="concepts">Related concepts</h2>

<ul>
    {% for concept in concepts %}
    <li><a href="{% relative_url_string concept.concept.get_absolute_url %}">{{ concept.concept.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if examples %}
<h2 id="examples">Examples</h2>

<p>This element is used in the following examples:</p>
<p>
    {% for example in examples %}<nobr><a href="{% relative_url_string example.example.get_absolute_url %}">{{ example.example.name }}</a></nobr>{% if not forloop.last %}, {% endif %}{% endfor %}
</p>
{% endif %}

{% endblock %}

