{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block fulltitle %}{% block title %}{% endblock %} | {{ SITE_OPTIONS.site_name }}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="{% relative_url_string '/static/styles.css' %}">
{% block extrahead %}{% endblock %}
</head>

<body>
<div class="topnav">
    <button class="toggle">
        <svg viewBox="0 0 100 80" width="16" height="16" fill="currentColor">
          <rect width="100" height="20" rx="8"></rect>
          <rect y="30" width="100" height="20" rx="8"></rect>
          <rect y="60" width="100" height="20" rx="8"></rect>
        </svg>
    </button>
    <a href="{% relative_url 'homepage' %}">
        <span class="logo-text">{{ SITE_OPTIONS.site_name }}</span>
    </a>
    <div></div>
</a></div>

{% block content_full %}
<div class="content">
    <nav class="sidenav">
        <ul>
            <li><a href="#">Nav 1</a></li>
            <li><a href="#">Nav 2</a></li>
            <li><a href="#">Nav 3</a></li>
            <li><a href="#">Nav 4</a></li>
            <li><a href="#">Nav 5</a></li>
            <li><a href="#">Nav 6</a></li>
        </ul>
    </nav>
    <main>
    {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}

{% block finalscript %}{% endblock %}
</body>
</html>
