{% extends "base.html" %}

{% block title %}The {{ element.name_with_brackets }} element{% endblock %}

{% block content %}
<p class="breadcrumb"><a href="{% relative_url 'element_list' %}">Elements</a> &gt; {{ element.name }}</p>

<h1>The {{ element.name_with_brackets }} element</h1>

<ul>
    {% if content_data_type %}
    <li>Content: <a href="{% relative_url_string content_data_type.get_absolute_url %}">{{ content_data_type.name }}</a></li>
    {% endif %}
    <li>Parent element{{ parents|pluralize }}:
        {% if parents %}
            {% for parent in parents %}
            <a href="{% relative_url_string parent.get_absolute_url %}">{{ parent.name_with_brackets }}</a>
            {% endfor %}
        {% else %}
            None
        {% endif %}
    </li>
    <li>Child element{{ children|pluralize }}:
        {% if children %}
            {% for child in children %}
            <a href="{% relative_url_string child.get_absolute_url %}">{{ child.name_with_brackets }}</a>
            {% endfor %}
        {% else %}
            None
        {% endif %}
    </li>
</ul>

{% if element.description %}
{{ element.description|safe }}
{% elif element.base_element and element.base_element.description %}
{{ element.base_element.description|safe }}
{% endif %}

<h2>Attributes</h2>

{% if attributes %}
<table>
<thead>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Required?</th>
    <th>Description</th>
</tr>
</thead>
{% for attribute in attributes %}
<tr>
    <th class="nobr">{{ attribute.name }}</th>
    <td><a href="{% relative_url_string attribute.data_type.get_absolute_url %}">{{ attribute.data_type.name }}</a></td>
    <td>{{ attribute.is_required|yesno|title }}</td>
    <td>{{ attribute.description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>None.</p>
{% endif %}

{% if concepts %}
<h2>Related concepts</h2>

<ul>
    {% for concept in concepts %}
    <li><a href="{% relative_url_string concept.concept.get_absolute_url %}">{{ concept.concept.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if examples %}
<h2>Examples</h2>

<p>This element is used in the following examples:</p>
<p>
    {% for example in examples %}<nobr><a href="{% relative_url_string example.example.get_absolute_url %}">{{ example.example.name }}</a></nobr>{% if not forloop.last %}, {% endif %}{% endfor %}
</p>
{% endif %}

{% endblock %}

