{% extends "base.html" %}

{% block title %}{{ schema.name }} example documents{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    <a href="{% relative_url_string schema.reference_url %}">{{ schema.name }} reference</a> &gt;
    Examples
</p>

<h1>{{ schema.name }} example documents</h1>

{% for example in examples %}
<div style="margin-bottom: 40px;">
    <a href="{% relative_url_string example.get_absolute_url %}">
    {% if example.image_url %}
        <img src="{% relative_url_string example.image_url %}" loading="lazy"><br>
    {% endif %}
    {{ example.name }}
    </a>
</div>
{% endfor %}
{% endblock %}
