{% extends "base.html" %}

{% block fulltitle %}{{ SITE_OPTIONS.site_name }}{% endblock %}

{% block content %}
<h1>{{ SITE_OPTIONS.site_name }}</h1>

<h2>Reference</h2>
<ul>
{% for schema in schemas %}
    <li><a href="{% relative_url_string schema.reference_url %}">{{ schema.name }} reference</a></li>
{% endfor %}
</ul>

<h2>Concepts</h2>
<p>
{% for concept in featured_concepts %}
<a href="{% relative_url_string concept.get_absolute_url %}">{{ concept.name }}</a> ·
{% endfor %}
<a href="{% relative_url 'concept_list' %}">See all…</a>
</p>

<h2>Assorted docs</h2>

<p><a href="comparisons/musicxml/">Comparing MNX and MusicXML</a></p>

{% if static_pages %}
<h2>Static pages</h2>

{% regroup static_pages by collection as static_collections %}
<ul>
    {% for collection in static_collections %}
    <li>
        <b>{{ collection.grouper.title }}</b>
        <ul>
            {% for static_page in collection.list %}
            <li><a href="{% relative_url_string static_page.url %}">{{ static_page.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
