{% extends "base.html" %}

{% block title %}Objects used in {{ schema.name }}{% endblock %}

{% block content %}
<p class="breadcrumb">
    <a href="{% relative_url 'homepage' %}">{{ SITE_OPTIONS.site_name }}</a> &gt;
    <a href="{% relative_url_string schema.reference_url %}">{{ schema.name }} reference</a> &gt;
    Objects
</p>

<h1>Objects used in {{ schema.name }}</h1>

{% comment %}
<p><a href="{% relative_url_string schema.element_tree_url %}">Tree view</a> | <b>Alphabetical list</b></p>
{% endcomment %}

<ul>
{% for object in objects %}
<li><a href="{% relative_url_string object.get_absolute_url %}">{{ object.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
